@page "/albumSwapper"
<div class="d-flex gap-3 flex-column justify-content-center align-items-center w-100 p-4 border border-dark rounded-3 container" style="max-width:1200px;">
<NavigationMenu/>
<MusicInfoTable />
</div>
@code{

}