@using Chinook.Models
@inject IRepository repository
<table class="table m-4">
	<thead>
		<tr>
			<th scope="col">artistName</th>
			<th scope="col">Track name</th>
			<th scope="col">Price</th>
		</tr>
	</thead>
	<tbody class="">

		@if (model.MusicModel.AlbumInfo.Tracks == null)
		{
			<tr>
				<td>No Data</td>
				<td>No Data</td>
				<td>No Data</td>

			</tr>
		}
		else
		{
			@foreach (var tracks in model.MusicModel.AlbumInfo.Tracks)
			{
				<tr>
					 <td>@ArtistName</td> 
					<td>@tracks.Name</td>
					<td>@tracks.UnitPrice$</td>

				</tr>

			}}
	</tbody>
</table>


@code {
	[Parameter]
	public ArtistModel model { get; set; }
    string? ArtistName => model.MusicModel.ArtistInfo.Name;
	protected override void OnInitialized()
	{
		model = repository.BuildModel(null, Repository.Operation.NextArtist);
	}
}