
@using Chinook.Models
@using Chinook.DAL
@inject IRepository repository
@rendermode InteractiveServer
	<h2 class="text-center text-black px-4 py-2 rounded-2">Album info</h2>

	<div class="d-flex gap-2 flex-row justify-content-center align-items-center w-100 fs-5">
		<button type="button" class="btn btn-outline-dark shadow-lg px-4" @onclick="()=>BuildModel(op:Repository.Operation.PrevArtist)">
			Previous
		</button>

		<label class="flex-grow-1 border border-dark rounded-3 text-black d-flex align-items-center justify-content-center shadow-sm" style="height: 45px; min-width: 200px;">
			<span class="fw-bold">@(model.GetArtistInfo())</span>
		</label>

		<button type="button" class="btn btn-outline-dark shadow-lg px-4" @onclick="()=>BuildModel(op:Repository.Operation.NextArtist)">
			Next
		</button>
	</div>

	<div class="d-flex gap-2 flex-row justify-content-center align-items-center w-100 fs-5">
		<button type="button" class="btn btn-outline-dark shadow-lg px-4" @onclick="()=>BuildModel(op:Repository.Operation.PrevAlbum)">
			Previous
		</button>

		<label class="flex-grow-1 border border-dark rounded-3 text-black d-flex align-items-center justify-content-center shadow-sm" style="height: 45px; min-width: 200px;">
			@if (model.MusicModel.AlbumInfo.Tracks == null)
			{
				<span>No Data</span>
			}
			else
			{
				<span class="fw-bold">@(model.GetAlbumInfo())</span>
			}
		</label>

		<button type="button" class="btn btn-outline-dark shadow-lg px-4" @onclick="()=>BuildModel(op:Repository.Operation.NextAlbum)">
			Next
		</button>
	</div>


@code{
	private ArtistModel model = new();
	string? ArtistName => model.MusicModel.ArtistInfo.Name;

	protected override void OnInitialized()
	{
		model = repository.BuildModel(null, Repository.Operation.NextArtist);
	}

	ArtistModel BuildModel(Repository.Operation op)
	{
		var result = repository.BuildModel(model, operation: op);
		model = result;
		return result;
	}
}